body.blockly-g-search-body-devel-theme-light{
    background-color: #000;
}
.blockly-gsearch-opened blockly-g-search,
.blockly-gsearch-opened blockly-g-search-visible-on-open,
.blockly-gsearch-opened blockly-g-search-visible-on-open input{
    font-size: 16px;
    font-weight: normal;
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
    padding: 5px;

}
blockly-g-search{
    width: 100%;
    max-width: 70px;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}
blockly-g-search,
blockly-g-search-inner,
blockly-g-search-visible-on-open{
    display: block;
}
blockly-g-search.blockly-gsearch-opened{
    max-width: 350px;
}
.blockly-gsearch-opened blockly-g-search-visible-on-open input{
    border: 1px solid #e8e8e8;
    font-size: 15px;
    width: 100%;
}
blockly-g-search-inner{
    direction: rtl;
    text-align: left;
}
blockly-g-search-inner blockly-g-search-visible-on-open,
blockly-g-search-inner .blockly-g-search-submit{
    direction: ltr;
    text-align: left;
}
.blockly-g-floated-at-left blockly-g-search-inner{
    direction: ltr;
    text-align: right;
}
.blockly-g-floated-at-left blockly-g-search-inner blockly-g-search-visible-on-open,
.blockly-g-floated-at-left blockly-g-search-inner .blockly-g-search-submit{
    direction: rtl;
    text-align: right;
}
.blockly-gsearch-opened blockly-g-search-visible-on-open button{
    /*border: 1px solid #e8e8e8;*/
    font-size: 14px;
}
blockly-g-search-visible-on-open {
    display:none;
}
.blockly-gsearch-opened blockly-g-search-visible-on-open{
	display: inline-block;
    width: 70%;
}

blockly-g-search-input {
    font-size: 20px;
    font-size: 5.9vw;
    padding: 5px;
}

blockly-g-search.blockly-g-floated{
    position: fixed;
    z-index: 99;
}
blockly-g-search .blockly-g-search-submit{
    border: 0;
    height: 50px;
    width: 100%;
    display: inline-block;
    background-size: contain;
    background-color: transparent;
    text-indent: 999;
    overflow: hidden;
    background-position: 3px 3px;
    background-repeat: no-repeat;
}
blockly-g-search.blockly-gsearch-opened .blockly-g-search-submit{
    width: 20%;
}
.blockly-gsearch-opened.blockly-g-search-theme-dark{
    background-color:#838383;
}

.blockly-g-search-theme-dark .blockly-g-search-submit{
    background-image: url('./icons/search_dark.png');
    
}
.blockly-g-search-theme-dark .blockly-g-search-input{
    background-color:#717171;
    color:#fff;
    border-color: #fff;
}
.blockly-gsearch-opened.blockly-g-search-theme-light{
    background-color:#FFF;
}
.blockly-g-search-theme-light .blockly-g-search-submit{
    background-image: url('./icons/search_light.png');
    background-color: transparent;
}
.blockly-g-search-theme-light .blockly-g-search-input{
    color: gray;
    border-color:#dddddd;
}
/*blockly-g-search-trigger {
    cursor:pointer
}
blockly-g-search-trigger svg{
    width:25px;
}
.blockly-gsearch-opened blockly-g-search-trigger {
    display: none;









}*/