blockly-g-search-visible-on-open {
    display:none
}
.blockly-gsearch-opened blockly-g-search-visible-on-open{
	display: block;
}

blockly-g-search{
    position:fixed
}

blockly-g-search-input {
    font-size: 20px;
    padding: 5px;
}

blockly-g-search.right {
    right:15px
}
blockly-g-search.bottom {
    bottom:15px
}
blockly-g-search.left {
    bottom:0px
}

blockly-g-search.top {
    top:15px
}

blockly-g-search-trigger {
    cursor:pointer
}
..blockly-gsearch-opened  blockly-g-search-trigger {
    cursor:pointer
}