blockly-g-search-visible-on-open {
    display:none
}
.blockly-gsearch-opened blockly-g-search-visible-on-open{
	display: block;
}

blockly-g-search{
    position:fixed
}

blockly-g-search-input {
    font-size: 20px;
    padding: 5px;
}

blockly-g-search.blockly-g-floated{
    position: fixed;
    z-index: 99;
}

blockly-g-search-trigger {
    cursor:pointer
}
blockly-g-search-trigger svg{
    width:50px;
}
.blockly-gsearch-opened blockly-g-search-trigger {
    display: none;
}